* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
h1 {
  align-self: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
