* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow: hidden;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
  font-size: 0.8em;
  border: none;
}
.app {
  height: 100vh;
  background-color: rgb(101, 162, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-fly {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  margin: 20px;
}
p {
  padding: 10px;
}
